
$bgcolor: #005500;
$innerDivBG: #cccccc;

@mixin letItFloat() {
	float: left;
}

div {
	width: 200px;
}

#boxtest1 {
	height: 200px;
	width: 500px;
	background: $bgcolor;
	
	div {
		height: 25px;
		width: 25px;
		margin:5px;
		padding: 5px;
		background: $innerDivBG;
		float: left;
		
		&:hover {
			background: lighten($innerDivBG, 50%);
		}
			
		border: {
			style: solid;
			left: {
				width: 4px;
				color: #888;
			}
			right: {
				width : 10px;
				color: #FFFFFF;
			}
		}
	}
	
	#boxtest2 {
		width: 200px;
		height: 45px;
		font: {
			size: 18px;
			family: arial;
		}
		a {
			text-decoration: none;
			
		}
		a:hover {
			color: orange;
		}
	}
}

#contentBox {
	width: 500px;
	height: 200px;
	background: $bgcolor;
	margin-top: 10px;
	
	div {
		margin: {
			left: 5px;
			top: 5px;
		}
		border: {
			style: solid;
			width: 2px;
		}
	}
	
	#content {
		height: 100px;
		width: 200px;
		background: $innerDivBG;
	}
	
	@import "navbar";
	
}